# archiso_head.cfg — menu UI / theme
SERIAL 0 115200
UI menu.c32
MENU TITLE NexoraOS 2026.1 (Vortex)
MENU BACKGROUND /%INSTALL_DIR%/boot/syslinux/nexora-splash.png
MENU COLOR border       0 #ffffffff #00000000
MENU COLOR title        0 #ff8be9fd #00000000
MENU COLOR sel          7 #ffffffff #ff2c5364
MENU COLOR hotsel       7 #ffffffff #ff2c5364
MENU COLOR timeout_msg  0 #ffffffff #00000000
MENU COLOR timeout      0 #ffffffff #00000000
MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 8
MENU HELPMSGROW 14
MENU CMDLINEROW 14
MENU TIMEOUTROW 16
MENU TABMSGROW 16
TIMEOUT 50
ONTIMEOUT nexora
ALLOWOPTIONS yes
