# archiso_tail.cfg — utilities

LABEL hdt
  MENU LABEL Hardware Information (HDT)
  COM32 hdt.c32

LABEL reboot
  MENU LABEL Reboot
  COM32 reboot.c32

LABEL poweroff
  MENU LABEL Power Off
  COM32 poweroff.c32
