# archiso_sys-linux.cfg — boot entries

LABEL nexora
  MENU LABEL NexoraOS 2026.1 (Live, default)
  LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/x86_64/intel-ucode.img,/%INSTALL_DIR%/boot/x86_64/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G quiet splash

LABEL nexora-verbose
  MENU LABEL NexoraOS 2026.1 (Live, verbose)
  LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/x86_64/intel-ucode.img,/%INSTALL_DIR%/boot/x86_64/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G

LABEL nexora-lowram
  MENU LABEL NexoraOS 2026.1 (Live, low-RAM mode, no DE autostart)
  LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/x86_64/intel-ucode.img,/%INSTALL_DIR%/boot/x86_64/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=1G nomodeset systemd.unit=multi-user.target
